<div class="app">
      <main>
         <div class="app_main-flex">
            <div class="app_main">
              
                  <h4 id="horas"></h4>
                <h4 id="fecha"></h4>
                <h1>Bootcamp Hogaru</h1>
            </div>
               
        </div>

     </main>
 </div>
  <%= javascript_include_tag('manifest.js') %>



