
    <div class="app">
      <main>
            <div class="app_main-flex">
                <div class="app_main">
                    <h1>Bootcamp Hogaru</h1>
                </div>
                <div class="app_main-button">
                    <a href="">Conoceme</a>
                </div>

            </div>

            <div class="main-episodes--bg">
                <section id="episodios" class="main-episodes--detail">
                    <div class="papi">
                        <div class="papi--left">
                        </div>
                        <div class="papi--right">
                            <p>
                               Mi nombre es Sergio Peña A., soy estudiante de ingenieria de sistemas y me encuentro en este momento haciendo mi bootcamp de ruby on rails
                            </p>

                        </div>
                    </div>
                </section>
            </div>

     </main>
 </div>
    



